{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Name Application</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="row">

            <div class="greeting-form form-group col-md-8 col-md-offset-2">
                <h1 class="text-center result">{{inserted_name}}</h1>
                <label for="usr">Name:</label>
                <input type="text" class="form-control" id="usr" name="name">
                <button type="submit" class="btn btn-default name-submit">Greet</button>
            </div>
    </div>


    <script src="https://code.jquery.com/jquery-1.12.4.min.js"   integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="   crossorigin="anonymous"></script>


    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script src="{% static 'js/frontend.js' %}"></script>
</body>
</html>